@page "/conta"

<PageTitle>Conta</PageTitle>

<center><h1>Conta de Utilizador</h1></center>

<p><b>Nome: </b> nome apelido</p>

<p><b>Nif: </b> nif </p>

<p><b>CC: </b> cc </p>

<p><b>Morada: </b> morada </p>

<p><b>Saldo: </b> saldo <button>Carregar Saldo</button> </p>

<p>
    <b>Lista de artigos: </b>
    <select name="filtro" id="filtro">
        <option value="Artigos">Artigos </option>
        <option value=" "> </option>
        <option value=" "> </option>
        <option value=" "> </option>
    </select>
    <button>Criar Artigo</button>
 </p>

<p>
    <b>Histórico de licitações: </b>
    <select name="filtro" id="filtro">
        <option value="Licitações">Licitações</option>
        <option value=" "> </option>
        <option value=" "> </option>
        <option value=" "> </option>
    </select>    
</p>

<p>
    <b>Histórico de leilões: </b>
    <select name="filtro" id="filtro">
        <option value="Leilões">Leilões</option>
        <option value=" "> </option>
        <option value=" "> </option>
        <option value=" "> </option>
    </select>
</p>

<center><button>Encerrar Sessão</button></center>


