@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;
@inject NavigationManager NavigationManager

@page "/conta"

<PageTitle>Conta</PageTitle>
<header>
<nav class="navbar navbar-light bg-light">
        <a href="/HomepageLogged">
            <img class="foto-header" src="images/favicon.png" alt="favicon.png" />
        </a>
        <h3 class="titulo"><b>Leiloaria Bracarense Lda.</b></h3>

    <a style="margin-right: 25px;" class="btn btn-primary" href="/conta">A minha conta</a>
</nav>

<hr>
</header>

<center><h1 class="titulo-pag"><b>Conta de Utilizador</b></h1></center>

<p><b>Email: </b> @e_mail </p>

<p><b>Nome: </b> @username </p>

<p><b>Nif: </b> @NIF </p>

<p><b>CC: </b> @CC </p>

<p><b>Morada: </b> @morada </p>

<p><b>Saldo: </b> @carteira <button>Carregar Saldo</button> </p>

<p>
    <b>Lista de artigos: </b>
    <select name="filtro" id="filtro">
        <option value="Artigos">Artigos </option>
        <option value=" "> </option>
        <option value=" "> </option>
        <option value=" "> </option>
    </select>
    <a class="btn btn-primary btn-sm" href="/criarartigo">Criar Artigo</a>
 </p>

<p>
    <b>Histórico de licitações: </b>
    <select name="filtro" id="filtro">
        <option value="Licitações">Licitações</option>
        <option value=" "> </option>
        <option value=" "> </option>
        <option value=" "> </option>
    </select>    
</p>

<p>
    <b>Histórico de leilões: </b>
    <select name="filtro" id="filtro">
        <option value="Leilões">Leilões</option>
        <option value=" "> </option>
        <option value=" "> </option>
        <option value=" "> </option>
    </select>
</p>

<a class="botao-dir btn btn-primary" @onclick=@setCurrentUserToNull href ="/">Encerrar Sessão</a>

<a class="botao-esq btn btn-primary" href="/HomepageLogged">Voltar</a>


@code {

    private string e_mail = CurrentUser.getCurrentUser().email_participante;
    private string username = CurrentUser.getCurrentUser().username;
    private int NIF = CurrentUser.getCurrentUser().nif;
    private int CC = CurrentUser.getCurrentUser().cc;
    private string morada = CurrentUser.getCurrentUser().morada;
    private float carteira = CurrentUser.getCurrentUser().carteira;

    void setCurrentUserToNull()
    {
        Participante vazio = new Participante();
        CurrentUser.setCurrentUser(vazio);
    }

    void carregaSaldo(float dinheiro)
    {
        CurrentUser.getCurrentUser().carteira += dinheiro;
    }

}