@page "/conta"

<PageTitle>Conta</PageTitle>
<header>
<nav class="navbar navbar-light bg-light">
        <a href="/">
            <img class="foto-header" src="images/favicon.png" alt="favicon.png" />
        </a>
        <h3 class="titulo"><b>Leiloaria Bracarense Lda.</b></h3>

    <a style="margin-right: 25px;" class="btn btn-primary" href="/conta">A minha conta</a>
</nav>

<hr>
</header>

<center><h1 class="titulo-pag"><b>Conta de Utilizador</b></h1></center>

<p><b>Nome: </b> nome apelido</p>

<p><b>Nif: </b> nif </p>

<p><b>CC: </b> cc </p>

<p><b>Morada: </b> morada </p>

<p><b>Saldo: </b> saldo <button>Carregar Saldo</button> </p>

<p>
    <b>Lista de artigos: </b>
    <select name="filtro" id="filtro">
        <option value="Artigos">Artigos </option>
        <option value=" "> </option>
        <option value=" "> </option>
        <option value=" "> </option>
    </select>
    <button>Criar Artigo</button>
 </p>

<p>
    <b>Histórico de licitações: </b>
    <select name="filtro" id="filtro">
        <option value="Licitações">Licitações</option>
        <option value=" "> </option>
        <option value=" "> </option>
        <option value=" "> </option>
    </select>    
</p>

<p>
    <b>Histórico de leilões: </b>
    <select name="filtro" id="filtro">
        <option value="Leilões">Leilões</option>
        <option value=" "> </option>
        <option value=" "> </option>
        <option value=" "> </option>
    </select>
</p>

<a class="botao-dir btn btn-primary" href="/">Encerrar Sessão</a>

<a class="botao-esq btn btn-primary" href="/">Voltar</a>

