@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;
@inject NavigationManager NavigationManager

@page "/criarartigo"

<PageTitle>Criar Artigo</PageTitle>

<center><h1>Criar Artigo</h1></center>

<p><b>Categoria: </b>
    <a class="btn btn-primary" href="/criarjoia">Joia</a>
    <a class="btn btn-primary" href="/criarlivro">Livro</a>
    <a class="btn btn-primary" href="/criarquadro">Quadro</a>
</p>

<center> <a class="botao-esq btn btn-primary" href="/conta">Voltar</a> </center>







