@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;
@inject NavigationManager NavigationManager

@page "/criarartigo"

<PageTitle>Criar Artigo</PageTitle>

<center><h1>Criar Artigo</h1></center>

<p><b>Categoria: </b>
    <a class="btn btn-primary" href="/criarjoia">Joia</a>
    <a class="btn btn-primary" href="/criarlivro">Livro</a>
    <a class="btn btn-primary" href="/criarquadro">Quadro</a>
</p>

<center> <a class="botao-esq btn btn-primary" href="/conta">Voltar</a> </center>

<Popup @ref="popup" />

@code
{

    private Popup popup = new Popup();

    //-----------------------------------------------------------------------------------------------------
    // Este pedaço de codigo verifica se há leilões que já tenham terminado e anuncia o vencedor caso
    // haja algum. Tem de ser implementado em todas as paginas porque não se conseguiu por um event handler
    // a funcionar.

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            VerificaEstadoLeiloes check = new VerificaEstadoLeiloes();
            string aviso = check.verifica();
            if (!aviso.Equals(""))
            {
                Console.WriteLine(aviso);
                lança_aviso(aviso);
                await Task.Delay(5000);
                NavigationManager.NavigateTo("/criarartigo", forceLoad: true);
            }
        }
    }

    public async Task lança_aviso(string aviso)
    {
        await InvokeAsync(() => popup.Show(aviso, "AVISO", "70%", "70%"));
    }

    //-----------------------------------------------------------------------------------------------------

}







