@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;
@inject NavigationManager NavigationManager

@page "/criarquadro"

<PageTitle>Criar Artigo</PageTitle>

<center><h1>Criar Artigo</h1></center>

<p><b>Categoria: Quadro </b>
</p>

<p>
    <form action="/action_page.php">
        <label for="aname"><b>Nome do Artigo:</b></label>
        <input type="text" id="aname" name="aname" @bind="aname">
    </form>
</p>

<p>
    <form action="/action_page.php">
        <label for="desc"><b>Descrição do Artigo:</b></label>
        <input type="text" id="desc" name="desc" @bind="desc">
    </form>
</p>

<p>
    <form action="/action_page.php">
        <label for="comp"><b>Comprovativo:</b></label>
        <input type="text" id="comp" name="comp" @bind="comp">
    </form>
</p>

<p>
    <form action="/action_page.php">
        <label for="titulo"><b>Titulo:</b></label>
        <input type="text" id="titulo" name="titulo" @bind="titulo">
    </form>
</p>

<p>
    <form action="/action_page.php">
        <label for="nome_autor"><b>Nome do autor:</b></label>
        <input type="text" id="nome_autor" name="nome_autor" @bind="nome_autor">
    </form>
</p>

<p>
    <form action="/action_page.php">
        <label for="ano"><b>Ano :</b></label>
        <input type="number" id="ano" name="ano" @bind="ano">
    </form>
</p>

<p>
    <form action="/action_page.php">
        <label for="dimensoes"><b>Dimensões:</b></label>
        <input type="text" id="dimensoes" name="dimensoes" @bind="dimensoes">
    </form>
</p>

<center> <a class="botao-esq btn btn-primary" href="/criarartigo">Voltar</a> </center>
<center><button @onclick=@criar_artigo>Submeter</button></center>

<Popup @ref="popup" />


@code {

    private Popup popup = new Popup();

    private string aname = "";
    private string desc = "";
    private string comp = "";
    private string titulo = "";
    private string nome_autor = "";
    private int ano = 0;
    private string dimensoes = "";


    //-----------------------------------------------------------------------------------------------------
    // Este pedaço de codigo verifica se há leilões que já tenham terminado e anuncia o vencedor caso
    // haja algum. Tem de ser implementado em todas as paginas porque não se conseguiu por um event handler
    // a funcionar.

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            VerificaEstadoLeiloes check = new VerificaEstadoLeiloes();
            string aviso = check.verifica();
            if (!aviso.Equals(""))
            {
                Console.WriteLine(aviso);
                lança_aviso(aviso);
                await Task.Delay(5000);
                NavigationManager.NavigateTo("/criarquadro", forceLoad: true);
            }
        }
    }

    public async Task lança_aviso(string aviso)
    {
        await InvokeAsync(() => popup.Show(aviso, "AVISO", "70%", "70%"));
    }

    //-----------------------------------------------------------------------------------------------------


    void criar_artigo()
    {
        I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();

        if (aname.Equals("") && desc.Equals("") && comp.Equals("") && titulo.Equals("") && nome_autor.Equals("") && ano == 0 && dimensoes.Equals(""))
        {
            popup.Show("O formulário não foi completamente preenchido", "AVISO", "70%", "70%");
            return;
        }
        else
        {
            if (if_leiloes.criaQuadro(aname, desc, comp, titulo, nome_autor, ano, dimensoes))
            {
                Console.WriteLine("Quadro criado com sucesso");
                popup.Show("Quadro criado com sucesso", "AVISO", "70%", "70%");
            }
            else
            {
                Console.WriteLine("Erro a criar quadro");
                popup.Show("Erro a criar quadro", "AVISO", "70%", "70%");
            }
        }
    }
}