@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;
@inject NavigationManager NavigationManager

@page "/criarjoia"

<PageTitle>Criar Artigo</PageTitle>

<center><h1>Criar Artigo</h1></center>

<p><b>Categoria: Joia </b>
</p>

<p>
    <form action="/action_page.php">
        <label for="aname"><b>Nome do Artigo:</b></label>
        <input type="text" id="aname" name="aname" @bind="aname">
    </form>
</p>

<p>
    <form action="/action_page.php">
        <label for="desc"><b>Descrição do Artigo:</b></label>
        <input type="text" id="desc" name="desc" @bind="desc">
    </form>
</p>

<p>
    <form action="/action_page.php">
        <label for="comp"><b>Comprovativo:</b></label>
        <input type="text" id="comp" name="comp" @bind="comp">
    </form>
</p>

<p>
    <form action="/action_page.php">
        <label for="mat"><b>Material:</b></label>
        <input type="text" id="mat" name="mat" @bind="mat">
    </form>
</p>

<p>
    <form action="/action_page.php">
        <label for="tipo"><b>Tipo:</b></label>
        <input type="text" id="tipo" name="tipo" @bind="tipo">
    </form>
</p>

<p>
    <form action="/action_page.php">
        <label for="pureza"><b>Pureza do Material:</b></label>
        <input type="number" id="pureza" name="pureza" @bind="pureza">
    </form>
</p>


<center> <a class="botao-esq btn btn-primary" href="/criarartigo">Voltar</a> </center>
<center><button @onclick=@criar_artigo>Submeter</button></center>

<Popup @ref="popup" />


@code {

    private Popup popup = new Popup();

    private string aname = "";
    private string desc = "";
    private string comp = "";
    private string mat = "";
    private string tipo = "";
    private float pureza = 0;


    //-----------------------------------------------------------------------------------------------------
    // Este pedaço de codigo verifica se há leilões que já tenham terminado e anuncia o vencedor caso
    // haja algum. Tem de ser implementado em todas as paginas porque não se conseguiu por um event handler
    // a funcionar.

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            VerificaEstadoLeiloes check = new VerificaEstadoLeiloes();
            string aviso = check.verifica();
            if (!aviso.Equals(""))
            {
                Console.WriteLine(aviso);
                lança_aviso(aviso);
                await Task.Delay(5000);
                NavigationManager.NavigateTo("/criarjoia", forceLoad: true);
            }
        }
    }

    public async Task lança_aviso(string aviso)
    {
        await InvokeAsync(() => popup.Show(aviso, "AVISO", "70%", "70%"));
    }

    //-----------------------------------------------------------------------------------------------------


    void criar_artigo()
    {
        if (aname.Equals("") && desc.Equals("") && comp.Equals("") && mat.Equals("") && tipo.Equals(""))
        {
            popup.Show("O formulário não foi completamente preenchido", "AVISO", "70%", "70%");
            return;
        }
        else
        {
            I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();

            if (if_leiloes.criaJoia(aname, desc, comp, mat, tipo, pureza))
            {
                Console.WriteLine("Joia criada com sucesso");
                popup.Show("Joia criada com sucesso", "AVISO", "70%", "70%");
            }
            else
            {
                Console.WriteLine("Erro a criar joia");
                popup.Show("Erro a criar joia", "AVISO", "70%", "70%");
            }
        }
    }

}