@page "/HomepageLogged"

<PageTitle>Homepage Logged</PageTitle>
<header>
    <nav class="navbar navbar-light bg-light">
        <a href="/HomepageLogged">
            <img class="foto-header" src="images/favicon.png" alt="favicon.png" />
        </a>
        <h3 class="titulo"><b>Leiloaria Bracarense Lda.</b></h3>

        <a style="margin-right: 25px;" class="btn btn-primary" href="/conta">A minha conta</a>
    </nav>

    <hr>

    <label for="filtro">Filtrar: </label>
    <select name="filtro" id="filtro">
        <option value="escolha">Escolha uma opção</option>
        <option value="livros">Livros</option>
        <option value="joias">Joias</option>
        <option value="quadros">Quadros</option>
        <option value="misto">Misto</option>
    </select>
</header>
<body>
    <p><center>Pretende desfazer-se de algum artigo colecionável? Proponha o seu leilão.<a class="btn btn-primary btn-sm" href="/proposta">Propor Leilão</a></center></p>
    <p><center>Alguma peça em falta? Selecione a sua categoria favorita ou <a href="/todos">veja todos os leilões que se encontram disponíveis.</a></center></p>

    <table align="center">
        <tr>
            <td>
                <a href="/livros">
                    <img class="imagem" src="images/livros.jpg" alt="livros.jpg"
                         width="400"
                         height="400" />
                    <div class="texto-sobre-imagem">Livros</div>
                </a>
                <hr>
                <center><a class="btn btn-primary btn-sm" href="/livros">Livros</a></center>

            </td>
            <td>
                <a href="/joias">
                    <img class="imagem" src="images/joias.jpg" alt="joias.jpg"
                         width="400"
                         height="400" />
                </a>
                <hr>
                <center><a class="btn btn-primary btn-sm" href="/joias">Joias</a></center>
            </td>
            <td>
                <a href="/quadros">
                    <img class="imagem" src="images/quadro.png" alt="quadro.png"
                         width="400"
                         height="400" />
                </a>
                <hr>
                <center><a class="btn btn-primary btn-sm" href="/quadros">Quadros</a></center>
            </td>
        </tr>
    </table>
</body>

