@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;
@inject NavigationManager NavigationManager

@page "/HomepageAdmi"

<PageTitle>Homepage Administrador</PageTitle>
<header>
    <nav class="navbar navbar-light bg-light">
        <a href="/HomepageAdmi">
            <img class="foto-header" src="images/favicon.png" alt="favicon.png" />
        </a>
        <h3 class="titulo"><b>Leiloaria Bracarense Lda. (MODO ADMINISTRADOR)</b></h3>

        <a @onclick=@setCurrentAdmiToNull style="margin-right: 25px;" class="btn btn-primary" href="/">Encerrar Sessão</a>
    </nav>
</header>

<body>

    <p>
        <label for="fname"> Indicar email do participante a eliminar: </label>
        <input type="text" id="fname" name="fname" @bind="email_escolhido">
        <a @onclick=@eliminar_participante class="btn btn-primary btn-sm">Eliminar Utilizador/Participante</a>
    </p>

    <p>
        <label for="fname"> Indicar ID do leilão a eliminar: </label>
        <input type="text" id="fname" name="fname" @bind="id_leilao_escolhido">
        <a @onclick=@eliminar_leilao class="btn btn-primary btn-sm">Eliminar Leilão</a>
    </p>

    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

    <table style="width:40%">
        <tr>
            <th>Histórico de leilões:</th>
        </tr>
        @foreach (var item in todosLeiloes)
        {
            <tr>
                <td>ID: @item.Value.id_leilao | NOME: @item.Value.nome | CATEGORIA: @item.Value.categoria | STATUS-APROVAÇÃO: @item.Value.aprovado </td>
            </tr>
        }
    </table>

    <p>
        <label for="fname"> Indicar ID do leilão a aprovar: </label>
        <input type="text" id="fname" name="fname" @bind="id_leilao_escolhido_aprovar">
        <a @onclick=@aprovarLeilao class="btn btn-primary btn-sm">Aprovar</a>
    </p>

    <Popup @ref="popup" />

</body>


@code {

    private Popup popup = new Popup();

    private static I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();

    private string e_mail = CurrentAdmi.getCurrentAdmi().email_administrador;
    private string nome = CurrentAdmi.getCurrentAdmi().username;

    private string email_escolhido = "";
    private int id_leilao_escolhido;
    private int id_leilao_escolhido_aprovar;

    private Dictionary<int, Leilao> todosLeiloes = if_leiloes.getTodosLeiloes("", "", 2);

    void eliminar_leilao()
    {
        // se o leilao não existir na lista
        if (todosLeiloes.ContainsKey(id_leilao_escolhido))
        {
            if_leiloes.eliminarLeilao(id_leilao_escolhido);
            NavigationManager.NavigateTo("/HomepageAdmi", forceLoad: true);
            Console.WriteLine("Leilao eliminado");
            popup.Show("Leilao eliminado", "AVISO", "70%", "70%");
        }
        else
        {
            Console.WriteLine("Erro ao eliminar leilao");
            popup.Show("Erro ao eliminar leilao", "AVISO", "70%", "70%");
        }
    }

    void eliminar_participante()
    {
        string test_e_mail = "'" + email_escolhido + "'";
        if (if_leiloes.eliminarParticipante(test_e_mail) == true)
        {
            Console.WriteLine("Participante eliminado");
            popup.Show("Participante eliminado", "AVISO", "70%", "70%");
            NavigationManager.NavigateTo("/HomepageAdmi", forceLoad: true);
        }
        else
        {
            Console.WriteLine("Erro ao eliminar participante");
            popup.Show("Erro ao eliminar participante", "AVISO", "70%", "70%");
        }
    }

    void aprovarLeilao()
    {
        // se o leilao não existir na lista
        if (todosLeiloes.ContainsKey(id_leilao_escolhido_aprovar))
        {
            if_leiloes.aprovarLeilao(id_leilao_escolhido_aprovar, 1);
            NavigationManager.NavigateTo("/HomepageAdmi", forceLoad: true);
            Console.WriteLine("Leilao aprovado");
            popup.Show("Leilao aprovado", "AVISO", "70%", "70%");
        }
        else
        {
            Console.WriteLine("Erro ao aprovar leilao");
            popup.Show("Erro ao aprovar leilao", "AVISO", "70%", "70%");
        }
    }

    void setCurrentAdmiToNull()
    {
        Administrador vazio = new Administrador();
        CurrentAdmi.setCurrentAdmi(vazio);
    }

    
}