@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;
@inject NavigationManager NavigationManager

@page "/HomepageLogged"

<PageTitle>Homepage Logged</PageTitle>
<header>
    <nav class="navbar navbar-light bg-light">
        <a href="/HomepageLogged">
            <img class="foto-header" src="images/favicon.png" alt="favicon.png" />
        </a>
        <h3 class="titulo"><b>Leiloaria Bracarense Lda.</b></h3>

        <p><b>Carteira: </b> @carteira €</p>

        <a style="margin-right: 25px;" class="btn btn-primary" href="/conta">Olá @username</a>
    </nav>

    <hr>

</header>
<body>
    <p><center>Pretende desfazer-se de algum artigo colecionável? Proponha o seu leilão.<a class="btn btn-primary btn-sm" href="/proposta">Propor Leilão</a></center></p>
    <p><center>Alguma peça em falta? Selecione a sua categoria favorita ou <a href="/todos">veja todos os leilões que se encontram disponíveis.</a></center></p>

    <table align="center">
        <tr>
            <td>
                <a href="/livros">
                    <img class="imagem" src="images/livros.jpg" alt="livros.jpg"
                         width="400"
                         height="400" />
                    <div class="texto-sobre-imagem">Livros</div>
                </a>
                <hr>
                <center><a class="btn btn-primary btn-sm" href="/livros">Livros</a></center>

            </td>
            <td>
                <a href="/joias">
                    <img class="imagem" src="images/joias.jpg" alt="joias.jpg"
                         width="400"
                         height="400" />
                </a>
                <hr>
                <center><a class="btn btn-primary btn-sm" href="/joias">Joias</a></center>
            </td>
            <td>
                <a href="/quadros">
                    <img class="imagem" src="images/quadro.png" alt="quadro.png"
                         width="400"
                         height="400" />
                </a>
                <hr>
                <center><a class="btn btn-primary btn-sm" href="/leilaopagina">Quadros</a></center>
            </td>
        </tr>
    </table>
</body>


@code {

    private string e_mail = CurrentUser.getCurrentUser().email_participante;
    private string username = CurrentUser.getCurrentUser().username;
    private int NIF = CurrentUser.getCurrentUser().nif;
    private int CC = CurrentUser.getCurrentUser().cc;
    private string morada = CurrentUser.getCurrentUser().morada;
    private float carteira = CurrentUser.getCurrentUser().carteira;

}