@page "/"

<PageTitle>Index</PageTitle>

<h1>Leiloaria Bracarense Lda.
    <label for="filtro">Filtrar:</label>

    <select name="filtro" id="filtro">
        <option value="livros">Livros</option>
        <option value="joias">Joias</option>
        <option value="quadros">Quadros</option>
        <option value="misto">Misto</option>
    </select>

    <a class="btn btn-primary btn-sm" href="/conta">Iniciar Sessão</a>
</h1>

<body>
    <p><center>Pretende desfazer-se de algum artigo colecionável? Proponha o seu leilão.<a class="btn btn-primary btn-sm" href="/proposta">Propor Leilão</a></center></p>
    <p><center>Algum peça em falta? Explore nas suas categorias favoritas.</center></p>

    <table align="center">
        <tr>
            <td>
                <img src="images/livros.jpg" alt="livros.jpg"
                    width="400"
                    height="400" />
                <center><a class="btn btn-primary btn-sm" href="/livros">Livros</a></center>
            </td>
            <td>
                <img src="images/joias.jpg" alt="joias.jpg"
                    width="400"
                    height="400" />
                <center><a class="btn btn-primary btn-sm" href="/joias">Joias</a></center>
            </td>
            <td>
                <img src="images/quadro.png" alt="quadro.png"
                    width="400"
                    height="400" />
                <center><a class="btn btn-primary btn-sm" href="/quadros">Quadros</a></center>
            </td>
        </tr>
    </table>
</body>

<SurveyPrompt Title="How is Blazor working for you?" />