@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;


@page "/"

<PageTitle>Leiloeira Bracarense Lda</PageTitle>
<head>
  <!-- Inclua os links CSS do Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
  <PageTitle>Leiloeira Bracarense Lda</PageTitle>
  <header>
    <nav class="navbar navbar-light bg-light">
      <a href="/">
        <img class="foto-header" src="images/favicon.png" alt="favicon.png" />
      </a>
      <h3 class="titulo"><b>Leiloaria Bracarense Lda.</b></h3>

      <!-- Botão de Iniciar Sessão que abrirá o modal -->
      <button type="button" style="margin-right: 25px;" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">Iniciar Sessão</button>
    </nav>

    <!-- Modal de Login -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="loginModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Aqui você pode adicionar o formulário de login -->
            <form>
              <div class="form-group">
                <label for="username">Email:</label>
                <!--<input type="text" class="form-control" id="username" name="username">-->
                <input type="text" class="form-control" id="e_mail" name="e_mail" @bind="@e_mail">
              </div>
              <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" @bind="@password">
              </div>
                        <div class="text-center">
                            <button @onclick=@Test type="submit" class="btn btn-primary">Login</button>
                        </div>
            </form>
          </div>
        </div>
      </div>
    </div>

<hr>

<label for="filtro">Filtrar: </label>
<select name="filtro" id="filtro">
    <option value="escolha">Escolha uma opção</option>
    <option value="livros">Livros</option>
    <option value="joias">Joias</option>
    <option value="quadros">Quadros</option>
    <option value="misto">Misto</option>
    </select>

</header>
<body>
    <p><center>Pretende desfazer-se de algum artigo colecionável? Proponha o seu leilão.<a class="btn btn-primary btn-sm" href="/proposta">Propor Leilão</a></center></p>
    <p><center>Alguma peça em falta? Selecione a sua categoria favorita ou <a href = "/todos">veja todos os leilões que se encontram disponíveis.</a></center></p>

    <table align="center">
        <tr>
            <td>
                <a href="/Livros">
                    <img class="imagem" src="images/livros.jpg" alt="livros.jpg"
                    width="400"
                         height="400" />
                    <div class="texto-sobre-imagem">Livros</div>
                </a>
                <hr>
                <center><a class="btn btn-primary btn-sm" href="/livros">Livros</a></center>
                
            </td>
            <td>
                <a href="/Joias">
                    <img class="imagem" src="images/joias.jpg" alt="joias.jpg"
                    width="400"
                    height="400" />
                </a>
                <hr>
                <center><a class="btn btn-primary btn-sm" href="/joias">Joias</a></center>
            </td>
            <td>
                <a href="/Quadros">
                    <img class="imagem"  src="images/quadro.png" alt="quadro.png"
                    width="400"
                    height="400" />
                    </a>
                <hr>
                <center><a class="btn btn-primary btn-sm" href="/quadros">Quadros</a></center>
            </td>
        </tr>
    </table>

    <!-- Inclua os scripts JavaScript do Bootstrap no final do seu arquivo HTML -->
    <script suppress-error="BL9992" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script suppress-error="BL9992" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    
</body>


@code {

     /*
     * exemplo input
     * 
<InputText class="form-control" placeholder="Insira o seu e-mail"
                                    @bind-Value="@e_mail" />
    */
    private Popup popupRef;
    private string e_mail = "";
    private string password = "";

    void Test()
    {
        I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();

        string test_e_mail = "'" + e_mail + "'";

        if (if_leiloes.login(test_e_mail, password)) // testar se as credencias existem na BD
        {
            Participante user = if_leiloes.getParticipanteWithEmail(test_e_mail);
            if (user.user_password.Equals(password)) // a palavra passe é correcta?
            {
                CurrentUser.setCurrentUser(user);
                Console.WriteLine(CurrentUser.printCurrentUserInfo());
                Console.WriteLine("Login concluido");
            }
            else
            {
                //popupRef.Show("A palavra passe é incorrecta.", "Password inválida", "35%", "35%");
                Console.WriteLine("Login concluido");
            }
        }
        else
        {
            //popupRef.Show("Esta conta não existe", "Credenciais inválidas", "35%", "35%");
            Console.WriteLine("Login concluido");
        }

    }

        /*
    void ToCreateAccount()
    {
        NavigationManager.NavigateTo("createaccount");
    }
   
     * Para guardar o ficheiro dado pelo utilizador noutra diretoria
    private string SelectedFileName { get; set; }
    private async Task HandleFileSelected(InputFileChangeEventArgs args)
        {
        var file = args.File;
        SelectedFileName = file.Name;
        MemoryStream ms = new MemoryStream();
        await file.OpenReadStream().CopyToAsync(ms);
        byte[] bytes = ms.ToArray();
        String path = Directory.GetCurrentDirectory().Replace('\\','/') + "/wwwroot/Media/uploads/test.png"; // para usar isto temos de fazer o using System.IO
        using var stream = File.Create(path);
        stream.Write(bytes, 0, bytes.Length);
        popupRef.Show(SelectedFileName , "Imagem", "35%", "35%");
    }*/
}