@page "/"

<PageTitle>Index</PageTitle>

<h1>Leiloaria Bracarense Lda.
    <label for="filtro">Filtrar:</label>

    <select name="filtro" id="filtro">
        <option value="livros">Livros</option>
        <option value="joias">Joias</option>
        <option value="quadros">Quadros</option>
        <option value="misto">Misto</option>
    </select>

    <button>Iniciar Sessão</button>
</h1>

<body>
    <p>Pretende desfazer-se de algum artigo colecionável? Proponha o seu leilão.<button>Propor Leilão</button></p>
    <p>Algum peça em falta? Explore nas suas categorias favoritas.</p>

    <table align="center">
        <tr>
            <td>
                <img src="images/livros.jpg" alt="livros.jpg"
                    width="400"
                    height="400" />
                <br /><a href="link">Livros</a>
            </td>
            <td>
                <img src="images/joias.jpg" alt="joias.jpg"
                    width="400"
                    height="400" />
                <br /><a href="link">Joias</a>
            </td>
            <td>
                <img src="images/quadro.png" alt="quadro.png"
                    width="400"
                    height="400" />
                <br /><a href="link">Quadros</a>
            </td>
        </tr>
    </table>
</body>

<SurveyPrompt Title="How is Blazor working for you?" />