@using System;
@using System.Globalization;
@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;
@inject NavigationManager NavigationManager

@page "/proposta"

<PageTitle>Proposta de Leilão</PageTitle>

<center><h1>Proposta de Leilão</h1></center>

<!--
<p><b>Categoria: </b>
    <select name="filtro" id="filtro">
        <option value="Misto">Misto</option>
        <option value="Livros">Livros</option>
        <option value="Quadros">Quadros</option>
        <option value="Joias">Joias</option>
    </select>
</p>
-->

<p>
    <b>Categoria: </b>
    <button @onclick=mudaCategoriaMisto type="button" class="btn btn-secondary">Misto</button>
    <button @onclick=mudaCategoriaLivros type="button" class="btn btn-secondary">Livros</button>
    <button @onclick=mudaCategoriaQuadros type="button" class="btn btn-secondary">Quadros</button>
    <button @onclick=mudaCategoriaJoias type="button" class="btn btn-secondary">Joias</button>
</p>

<p>
    <form action="/action_page.php">
        <label for="fname"><b>Nome do Leilão:</b></label>
        <input type="text" id="fname" name="fname" @bind="nome_leilao">
    </form>
</p>

<!--
<p>
    <b>Artigos: </b>
    <select name="filtro" id="filtro">
        <option value="Artigos">Artigos </option>
        <option value=" "> </option>
        <option value=" "> </option>
        <option value=" "> </option>
    </select>
    <a class="btn btn-primary btn-sm" >Adicionar artigo ao lote</a> 
    <a class="btn btn-primary btn-sm" >Remover artigo do lote</a>
</p> 
-->


<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<table style="width:40%">
    <tr>
        <th>Lista de artigos:</th>
    </tr>
    @foreach (var item in artigosCurrent)
    {
        <tr>
            <td>ID: @item.Value.getIdArtigo() | TIPO: @item.Value.GetType().Name | NOME: @item.Value.getNome() | DESCRIÇÃO: @item.Value.getDescricao() </td>
        </tr>
    }
</table>

<p>
    <label for="fname"> Indicar ID do artigo: </label>
    <input type="text" id="fname" name="fname" @bind="id_artigo_escolhido">
    <a @onclick=@adicionaArtigoAoLote class="btn btn-primary btn-sm">Adicionar artigo ao lote</a>
    <a @onclick=@removeArtigoDoLote class="btn btn-primary btn-sm">Remover artigo do lote</a>
</p>

<p>       </p>


<p>
    <form action="/action_page.php">
        <label for="fname"><b>Preço Base:</b></label>
        <input type="text" id="fname" name="fname" @bind="preco_base">
    </form> 
</p>

<p>
    <form action="/action_page.php">
        <label for="fname"><b>Valor de diferença:</b></label>
        <input type="text" id="fname" name="fname" @bind="valor_diferenca">
    </form> 
</p>

<p>
    <b>Duração:</b> 
    <label for="fname">Data de Início (AAAA-MM-DD): </label>
    <input type="text" id="fname" name="fname" @bind="data_inicio">
    <label for="fname">Data de Término (AAAA-MM-DD):</label>
    <input type="text" id="fname" name="fname" @bind="data_fim">
</p>

<center> <a class="botao-esq btn btn-primary" href="/HomepageLogged">Voltar</a> </center>
<center><button @onclick=@proporLeilao>Propor</button></center>


<script>
    function selecionarJoias() {
        // Obtenha o elemento select
        var selectElement = document.getElementById("filtro");

        // Defina a opção "Joias" como selecionada
        for (var i = 0; i < selectElement.options.length; i++) {
            if (selectElement.options[i].value === "Joias") {
                selectElement.options[i].selected = true;
            }
        }
    }
</script>


@code {

    private string categoria;
    private string nome_leilao;
    private float preco_base;
    private float valor_diferenca;
    private string data_inicio;
    private string data_fim;
    private List<Artigo> artigosParaLeiloar = new List<Artigo>();

    private Dictionary<int, Artigo> artigosCurrent = CurrentUser.getCurrentUser().meusArtigos;
    int id_artigo_escolhido = 0;

    void mudaCategoriaMisto()
    {
        categoria = "Misto";
    }
    void mudaCategoriaLivros()
    {
        categoria = "Livros";
    }
    void mudaCategoriaQuadros()
    {
        categoria = "Quadros";
    }
    void mudaCategoriaJoias()
    {
        categoria = "Joias";
    }



    void adicionaArtigoAoLote()
    {
        I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();
        Artigo a = if_leiloes.getArtigo(id_artigo_escolhido);

        // se o artigo ainda não existir na lista 
        if (!artigosParaLeiloar.Contains(a))
        {
            artigosParaLeiloar.Add(a.Clone());
            Console.WriteLine("Adicionado artigo para leiloar");
        }
        else
        {
            Console.WriteLine("Erro ao adicionar artigo para leiloar");
        }
    }

    void removeArtigoDoLote()
    {
        I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();
        Artigo a = if_leiloes.getArtigo(id_artigo_escolhido);

        // se o artigo existe na lista pode ser removido
        if (artigosParaLeiloar.Contains(a))
        {
            artigosParaLeiloar.Remove(a);
            Console.WriteLine("Removido artigo para leiloar");
        }
        else
        {
            Console.WriteLine("Erro ao remover artigo para leiloar");
        }
    }


    void proporLeilao()
    {
        I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();
        Dictionary<string, Licitacao> licitacoes = new Dictionary<string, Licitacao>();
        LoteArtigos loteartigos = new LoteArtigos();

        DateTime data_i = new DateTime();
        DateTime data_f = new DateTime();

        // se o formato inserido de data for válido prosegue com a proposta
        DateTime dateValue;
        CultureInfo pt = new CultureInfo("pt-PT");

        if (DateTime.TryParseExact(data_inicio, "yyyy-MM-dd", pt, DateTimeStyles.None, out dateValue) == true && 
            DateTime.TryParseExact(data_fim, "yyyy-MM-dd", pt, DateTimeStyles.None, out dateValue) == true)
        {
            //converter datas de string para Datetime
            data_i = DateTime.Parse(data_inicio);
            data_f = DateTime.Parse(data_fim);
        }
        else
        {
            Console.WriteLine("O formato inserido numa das datas não é válido!");
            return;
        }


        // adicionar o lote de artigos
        foreach(Artigo a in artigosParaLeiloar){
            loteartigos.adicionaArtigoAoLote(a.Clone());
            Console.WriteLine(a.getNome());
        }
        


        
        // o valor de aprovado deverá ser false
        if (if_leiloes.proporLeilao(categoria, nome_leilao, data_i, data_f, preco_base, valor_diferenca, 0, false, CurrentUser.getCurrentUser().email_participante, licitacoes, loteartigos))
        

        // por enquanto o valor de aprovado será true enquanto o Administrador não está 100% funcional
        //if (if_leiloes.proporLeilao(categoria, nome_leilao, data_i, data_f, preco_base, valor_diferenca, 0, true, CurrentUser.getCurrentUser().email_participante, licitacoes, loteartigos))
        {
            Console.WriteLine("Leilão proposto com sucesso");
        }
        else
        {
            Console.WriteLine("Erro a propor leilão");
        }
    }

}