@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;
@inject NavigationManager NavigationManager

@page "/todos"

<PageTitle>Show all leiloes</PageTitle>
<nav class="navbar navbar-light bg-light">
    <a href="/HomepageLogged">
        <img class="foto-header" src="images/favicon.png" alt="favicon.png" />
    </a>
    <h3 class="titulo"><b>Leiloaria Bracarense Lda.</b></h3>

    <a style="margin-right: 25px;" class="btn btn-primary" href="/conta">A minha conta</a>
</nav>

<body>

    <p>
        <b>Filtro: </b>
        <a class="btn btn-secondary" href="/filtromisto">Misto</a>
        <a class="btn btn-secondary" href="/filtrolivros">Livros</a>
        <a class="btn btn-secondary" href="/filtroquadros">Quadros</a>
        <a class="btn btn-secondary" href="/filtrojoias">Joias</a>
    </p>

    <p> </p>

    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

    <table>
        <tr>
            <th>Histórico de leilões:</th>
        </tr>
        @foreach (var item in todosLeiloes)
        {
            <tr>
                <td style="width: 500px; height: 100px; padding: 10px; margin: 10px;">
                    <p>
                        NOME: @item.Value.nome      <br>
                        CATEGORIA: @item.Value.categoria            <br>
                        LICITAÇÃO ATUAL: @item.Value.licitacao_atual   <br>
                        DATA DE TÉRMINO: @item.Value.data_fim.ToString()        <br>
                    </p>

                </td>
                <td style="width: 20px; height: 20px; padding: 10px; margin: 10px;">
                    <button @onclick="() => criaCurrentLeilao(item.Value.id_leilao)" type="button" class="btn btn-primary">Entrar</button>
                </td>
            </tr>
        }
    </table>

    <a class="botao-esq btn btn-primary" href="/HomepageLogged">Voltar</a>

</body>



@code {

    private static I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();

    private Dictionary<int, Leilao> todosLeiloes = if_leiloes.getTodosLeiloes("", "", 1);

    private void criaCurrentLeilao(int id)
    {
        Leilao l = if_leiloes.getLeilao(id);
        Console.WriteLine(l.printLeilao());

        CurrentLeilao.setCurrentLeilao(l);
        Console.WriteLine(CurrentLeilao.printCurrentLeilaoInfo());
        NavigationManager.NavigateTo("/leilaopagina", forceLoad: true);
    }

}