@using LeiloesOnline.Business;
@using LeiloesOnline.Business.Objects;
@inject NavigationManager NavigationManager

@page "/todos"

<PageTitle>Show all leiloes</PageTitle>
<nav class="navbar navbar-light bg-light">
    <a href="/HomepageLogged">
        <img class="foto-header" src="images/favicon.png" alt="favicon.png" />
    </a>
    <h3 class="titulo"><b>Leiloaria Bracarense Lda.</b></h3>

    <a style="margin-right: 25px;" class="btn btn-primary" href="/conta">A minha conta</a>
</nav>

<body>

    <p>
        <b>Filtro: </b>
        <a class="btn btn-secondary" href="/filtromisto">Misto</a>
        <a class="btn btn-secondary" href="/filtrolivros">Livros</a>
        <a class="btn btn-secondary" href="/filtroquadros">Quadros</a>
        <a class="btn btn-secondary" href="/filtrojoias">Joias</a>
    </p>
    <!--
    <p>
        <b>Ordenação de datas: </b>
        <button @onclick="filtroAscendente" type="button" class="btn btn-secondary">Ascendente</button>
        <button @onclick="filtroDescendente" type="button" class="btn btn-secondary">Descendente</button>
    </p>
    -->
    <p> </p>

    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

    <table>
        <tr>
            <th>Histórico de leilões:</th>
        </tr>
        @foreach (var item in todosLeiloes)
        {
            <tr>
                <td style="width: 500px; height: 100px; padding: 10px; margin: 10px;">
                    <p>
                        NOME: @item.Value.nome      <br>
                        CATEGORIA: @item.Value.categoria            <br>
                        LICITAÇÃO ATUAL: @item.Value.licitacao_atual   <br>
                        DATA DE TÉRMINO: @item.Value.data_fim.ToString()        <br>
                    </p>

                </td>
                <td style="width: 20px; height: 20px; padding: 10px; margin: 10px;">
                    <button @onclick="() => criaCurrentLeilao(item.Value.id_leilao)" type="button" class="btn btn-primary">Entrar</button>
                </td>
            </tr>
        }
    </table>

    <a class="botao-esq btn btn-primary" href="/HomepageLogged">Voltar</a>

    <Popup @ref="popup" />

</body>



@code {

    private static I_LeiloesOnlineFacade if_leiloes = new LeiloesOnlineFacade();

    private static Dictionary<int, Leilao> todosLeiloes = if_leiloes.getTodosLeiloes("", "", 1);
    private List<Leilao> todosLeiloesLista = converteParaLista(todosLeiloes);

    Popup popup = new Popup();


    //-----------------------------------------------------------------------------------------------------
    // Este pedaço de codigo verifica se há leilões que já tenham terminado e anuncia o vencedor caso
    // haja algum. Tem de ser implementado em todas as paginas porque não se conseguiu por um event handler
    // a funcionar.

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            VerificaEstadoLeiloes check = new VerificaEstadoLeiloes();
            string aviso = check.verifica();
            if (!aviso.Equals(""))
            {
                Console.WriteLine(aviso);
                lança_aviso(aviso);
                await Task.Delay(5000);
                NavigationManager.NavigateTo("/todos", forceLoad: true);
            }
        }
    }

    public async Task lança_aviso(string aviso)
    {
        await InvokeAsync(() => popup.Show(aviso, "AVISO", "70%", "70%"));
    }

    //-----------------------------------------------------------------------------------------------------

    private void criaCurrentLeilao(int id)
    {
        Leilao l = if_leiloes.getLeilao(id);
        Console.WriteLine(l.printLeilao());

        CurrentLeilao.setCurrentLeilao(l);
        Console.WriteLine(CurrentLeilao.printCurrentLeilaoInfo());
        NavigationManager.NavigateTo("/leilaopagina", forceLoad: true);
    }

    private static List<Leilao> converteParaLista(Dictionary<int, Leilao> leiloes)
    {
        List<Leilao> res = new List<Leilao>();
        foreach(Leilao l in leiloes.Values)
        {
            res.Add(l);
        }
        return res;
    }

    private void filtroAscendente()
    {
        todosLeiloesLista = todosLeiloesLista.OrderBy(leilao => leilao.data_fim).ToList();
        NavigationManager.NavigateTo("/todos", forceLoad: true);
    }

    private void filtroDescendente()
    {
        todosLeiloesLista = todosLeiloesLista.OrderByDescending(leilao => leilao.data_fim).ToList();
        NavigationManager.NavigateTo("/todos", forceLoad: true);
    }

}